In [1]:
spark.sql('show databases').show()
spark.sql('create table if not exists teacher (teacherno int, name string) using hive')
spark.sql("insert into teacher values(101, 'Albus Dumbledore')")
spark.sql("insert into teacher values(102, 'Rubeus Hagrid')")
spark.sql("insert into teacher values(103, 'Severus Snape')")
spark.sql('select * from teacher').show()

spark.sql('show tables').show()

Intitializing PySpark ...

Spark Web UI available at http://fonduta.fritz.box:4040
SparkContext available as 'sc' (version = 3.3.1, master = local[*], app id = local-1676490639840)
SparkSession available as 'spark'

+---------+
|namespace|
+---------+
|  default|
|     test|
|   testme|
+---------+

+---------+----------------+
|teacherno|            name|
+---------+----------------+
|      100|         teodoro|
|      100|         teodoro|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      103|   Severus Snape|
|      102|   Rubeus Hagrid|
|      101|Albus Dumbledore|
|      103|   Severus Snape|
|      102|   Rubeus Hagrid|
|      103|   Severus Snape|
|      103|   Severus Snape|
|      101|Albus Dumbledore|
|      102|   Rubeus Hagrid|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
+---------+----------------+
only showing top 20 rows

+---------+--------------+-----------+
|namespace|     tableName|isTemporary|
+---------+--------------+-----------+
|  default|my_first_table|      false|
|  default|       student|      false|
|  default|       teacher|      false|
+---------+--------------+-----------+

In [2]:
!hadoop fs -ls /user/hive/warehouse/

Found 3 items


drwxr-xr-x   - pi supergroup          0 2023-02-13 19:36 /user/hive/warehouse/my_first_table


drwxr-xr-x   - pi supergroup          0 2023-02-11 20:21 /user/hive/warehouse/student


drwxr-xr-x   - pi supergroup          0 2023-02-15 20:50 /user/hive/warehouse/teacher

In [3]:
spark.sql('select * from teacher order by name').show()

+---------+----------------+
|teacherno|            name|
+---------+----------------+
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      101|Albus Dumbledore|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
|      102|   Rubeus Hagrid|
+---------+----------------+
only showing top 20 rows

In [17]:
spark.sql('SELECT a.teacherno, a.name FROM `default`.`teacher` as a GROUP BY a.teacherno, a.name ORDER BY a.teacherno LIMIT 100').show()

+---------+----------------+
|teacherno|            name|
+---------+----------------+
|      101|Albus Dumbledore|
|      102|   Rubeus Hagrid|
|      103|   Severus Snape|
+---------+----------------+