In [1]:
from datetime import datetime
import json
import pickle
import base64
import numpy as np
import pandas as pd
import logging
import yaml
from yaml.loader import SafeLoader
from dataclasses import dataclass
from deepdiff import DeepDiff
from pprint import pprint
from typing import Dict, Any
import hashlib
from pyspark.sql import SparkSession
from elasticsearch import Elasticsearch
import pprint
from neo4j import GraphDatabase
from textwrap import dedent
from datetime import datetime
from datasketch import MinHash
from datasketch import MinHashLSH
from datasketch import LeanMinHash
from redis import StrictRedis
import redis
import json
import pickle
import base64
import logging
from dataclasses import dataclass
from deepdiff import DeepDiff
from pprint import pprint
from typing import Dict, Any
import hashlib
from mongoengine import connect, disconnect, Document, ListField, StringField, URLField, DictField, IntField
import tika
from tika import parser
import time
from datetime import datetime
import pandas as pd
from IPython.display import display, HTML
from elasticsearch import Elasticsearch

Intitializing PySpark ...

Spark Web UI available at http://fonduta.fritz.box:4040
SparkContext available as 'sc' (version = 3.3.1, master = local[*], app id = local-1676724805757)
SparkSession available as 'spark'

In [2]:
spark

### Packages benÃ¶tigt

- datasketch[redis]
- elasticsearch==7.10.0
- neo4j
- pyyaml
- deepdiff

In [3]:
class Utils:
    
    @staticmethod
    def calc_idx_resource(source, schema, dataset):
        return "%s-%s-%s"%(source.replace(' ', '_'), schema.replace(' ', '_'), dataset.replace(' ', '_'))
    
    @staticmethod
    def calc_idx_signature(data):
        return Utils.calc_idx_resource(data['source'], data['schema'], data['dataset'])
    
    @staticmethod
    def calc_idx_content(data):
        return "%s-%s-%s-%s"%(data['source'].replace(' ', '_'), data['schema'].replace(' ', '_'), data['dataset'].replace(' ', '_'), data['attribute'].replace(' ', '_'))

    @staticmethod
    def get_df_data_types_as_dict(df):
        return df.toPandas().dtypes.apply(lambda x: x.name).to_dict()

    @staticmethod
    def serialize_dict_data_types(data_types):
        return json.dumps(data_types, sort_keys=True)

    @staticmethod
    def deserialize_dict_data_types(ser_df_data_types):
        return  json.loads(ser_df_data_types)

    @staticmethod
    def compare_dicts(dict_a, dict_b):
        return DeepDiff(dict_a, dict_b)
    
    @staticmethod
    def dict_hash(dictionary: Dict[str, Any]) -> str:
        """MD5 hash of a dictionary."""
        dhash = hashlib.md5()
        encoded = json.dumps(dictionary, sort_keys=True).encode()
        dhash.update(encoded)
        return dhash.hexdigest()

In [4]:
class Config:
    hadoop_uri = 'hdfs://fonduta.fritz.box:9000'
    
    search_service_host = 'http://192.168.178.52:9200'
    search_service_user = 'admin'
    search_service_password = 'password'
    
    graph_service_host = 'bolt://192.168.178.52:7687'
    graph_service_user = 'neo4j'
    graph_service_password = 'password'
    
    data_description_service_host = '192.168.178.52'
    data_description_service_port = 27017
    data_description_service_host_db_prefix = 'havel'
    data_description_service_username='mongoadmin'
    data_description_service_password='bdung'
    
    cache_host = '192.168.178.52'
    cache_port = 6379 
    cache_db = 4
    
    content_analyzer_url_base = 'http://master:50070/webhdfs/v1/'
    
    abs_path = '/sample-data'
    
    index_content = {
        'dev': 'dev-havel-index-content',
        'test': 'test-havel-index-content',
        'prod': 'prod-havel-index-content'
    }

    index_signature = {
        'dev': 'dev-havel-index-signature',
        'test': 'test-havel-index-signature',
        'prod': 'prod-havel-index-signature'
    }

In [5]:
class ConfigLoader:     
    @staticmethod
    def load_config(file):
        config_data = []
        try:
            with open(file, 'r') as f:
                config = yaml.load(f, Loader=SafeLoader)
                for source in config['sources']:
                    source_description = config['sources'][source]['description']
                    buckets = config['sources'][source]['buckets']
                    for bucket in buckets:
                        bucket_name = bucket['name']
                        version = bucket['version']
                        url = bucket['url']
                        datasets = bucket['datasets']
                        for dataset in datasets:
                            dataset_name = dataset['name']
                            hdfs_uri_base = "/" + Config.abs_path + '/' + source + '/' + bucket_name

                            if ('description' in dataset):
                                dataset_description = dataset['description']
                                if dataset_description is None: dataset_description = ''
                            else:
                                dataset_description = ''

                            if ('keywords_whitelist' in dataset):
                                keywords_whitelist = dataset['keywords_whitelist']
                                if keywords_whitelist is None: keywords_whitelist = []
                            else:
                                keywords_whitelist = []

                            if ('attributes_blacklist' in dataset):
                                attributes_blacklist = dataset['attributes_blacklist']
                                if attributes_blacklist is None: attributes_blacklist = []
                            else:
                                attributes_blacklist = []

                            config_data.append({
                                'source': source,
                                'version': version,
                                'source_description': source_description,
                                'schema': bucket_name,
                                'dataset': dataset_name,
                                'dataset_description': dataset_description,
                                'url': url,
                                'hdfs_path': '',
                                'dataframe': '',
                                'keywords_whitelist': keywords_whitelist,
                                'attributes_blacklist': attributes_blacklist,
                                'hdfs_uri_base': hdfs_uri_base,
                                'signature': Utils.calc_idx_resource(source, bucket_name, dataset_name)
                            })

                return config_data    

        except yaml.YAMLError as e:
            print("Error in configuration file", e)
    
    @staticmethod
    def data_to_load_job(list_to_read, config_data):   
        data_to_load = []

        for i in range(len(list_to_read)):
            for j in range(len(config_data)):
                if config_data[j]['signature'] == Utils.calc_idx_resource(list_to_read[i]['source'], list_to_read[i]['schema'], list_to_read[i]['dataset']):
                    file = config_data[j]['hdfs_uri_base'] + '/' + list_to_read[i]['filename']
                    config_data[j]['dataframe'] = spark.read.format("csv")\
                        .option("header", "true")\
                        .option("inferSchema", "true")\
                        .load(Config.hadoop_uri + file)
                    config_data[j]['hdfs_path'] = file
                    data_to_load.append(config_data[j])

        return data_to_load

In [6]:
class SearchService:
    es_res_max_size = 1000
    
    def __init__(self, uri, user, password, env, index_signature, index_content, debug):
        self.driver = Elasticsearch(uri)
        self.env = env
        self.debug = debug
        self.index_signature = index_signature
        self.index_content = index_content


    def upsert(self, index, func_calc_idx, doc, v=True):
        for data in doc:
            res = self.driver.index(index=index, id=func_calc_idx(data), body=data)

        self.driver.indices.refresh(index=index)

        if v is True:
            res = self.driver.search(size=SearchService.es_res_max_size, index=index, body={"query": {"match_all": {}}})
            if self.debug: print("Got %d Hits." % res['hits']['total']['value'])


    def clear_es(self):
        # delete all
        indices = [self.index_content[self.env], self.index_signature[self.env]]
        if self.debug: pprint(indices)
        try:
            self.driver.delete_by_query(index=indices, body={"query": {"match_all": {}}})
            self.driver.indices.delete(index=indices, ignore=[400, 404])
        except Exception as e:
            if self.debug: print("Delete Index: %s", e)


    def create_es_schema_signature(self):
        schema = {
            "mappings": {
                "properties": {
                    "source": {
                        "type": "text" # formerly "string"
                    },
                    "schema": {
                        "type": "text" # formerly "string"
                    },
                    "dataset": {
                        "type": "text" # formerly "string"
                    },
                    "hdfs_path": {
                        "type": "text" # formerly "string"
                    },
                    "timestamp": {
                        "type": "date",
                        "format": "yyyy-MM-dd HH:mm:ss.SSSSSS"
                        # data format for Python's datetime.now() method
                    },
                    "min_hash": {
                        "ignore_malformed": "true",
                        "type": "integer"
                    },
                    "min_hash_seed": {
                        "type": "integer"
                    },
                    "data_types": {
                        "type": "text"
                    },
                    "version": {
                        "type": "integer"
                    },
                    "keywords": {
                        "type": "text"
                    }
                }
            }
        }

        resp = self.driver.indices.create(
            index = self.index_signature[self.env],
            body = schema
        )

        if self.debug: print ("_mapping response:", json.dumps(resp, indent=4), "\n")


    def create_es_schema_content(self):
        schema = {
            "mappings": {
                "properties": {
                    "source": {
                        "type": "text" # formerly "string"
                    },
                    "schema": {
                        "type": "text"
                    },
                    "dataset": {
                        "type": "text" # formerly "string"
                    },
                    "hdfs_path": {
                        "type": "text" # formerly "string"
                    },
                    "attribute": {
                        "type": "text"
                    },
                    "data_type": {
                        "type": "text"
                    },
                     "timestamp": {
                        "type": "date",
                        "format": "yyyy-MM-dd HH:mm:ss.SSSSSS"
                        # data format for Python's datetime.now() method
                    },
                    "size": {
                        "type": "integer"
                    },
                    "cardinality": {
                        "type": "float"
                    },
                    "uniqueness": {
                        "type": "float"
                    },
                    "min_hash": {
                        "ignore_malformed": "true",
                        "type": "integer"
                    },
                    "min_hash_seed": {
                        "type": "integer"
                    },
                    "keywords": {
                        "type": "text"
                    }
                }
            }
        }

        resp = self.driver.indices.create(
            index = self.index_content[self.env],
            body = schema
        )

        if self.debug: print ("_mapping response:", json.dumps(resp, indent=4), "\n")


    def get_hits(self, index):
        res = self.driver.search(size=SearchService.es_res_max_size, index=index, body={"query": {"match_all": {}}})
        if self.debug: print("Got %d Hits." % res['hits']['total']['value'])
        
        return (res['hits']['hits'])
    
    
    def search_by_keyword(self, index, keyword):
        resp = self.driver.search(
            index= index,
            body={
                "query": {
                    "match": {
                        "keywords": keyword
                    }
                }
            }
        )

        res = []
        for r in resp['hits']['hits']:
            res.append({
                'id': r['_id'], 
                'score': r['_score'],
                'source': r['_source']['source'], 
                'schema': r['_source']['schema'], 
                'dataset': r['_source']['dataset'], 
                'hdfs_path': r['_source']['hdfs_path'], 
                'attribute': r['_source']['attribute']})

        return res

In [120]:
class GraphService:
    
    INNER = 'inner'
    OUTER = 'outer'
    
    
    def __init__(self, uri, user, password, env, debug):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))
        self.env = env
        self.debug = debug
        
        
    def close(self):
        self.driver.close()
        
    
    def insert_column_node(self, idx_col, idx_tab, data):
        with self.driver.session() as session:
            res1 = session.execute_write(self._create_column_node, idx_col, data, self.env)
            res2 = session.execute_write(self._create_column_table_relation, idx_col, idx_tab, self.env)
            if self.debug: print(res1)
            if self.debug: print(res2)
    
    def insert_table_node(self, idx, data):
        with self.driver.session() as session:
            res = session.execute_write(self._create_table_node, idx, data, self.env)
            if self.debug: print(res)
           
        
    def add_column_column_relation(self, idx_a, idx_b, threshold):
        with self.driver.session() as session:
            res = session.execute_write(self._create_column_column_relation, idx_a, idx_b, threshold, self.env)
            if self.debug: print(res)
    
    
    def add_table_table_relation(self, idx_a, idx_b, threshold):
        with self.driver.session() as session:
            res = session.execute_write(self._create_table_table_relation, idx_a, idx_b, threshold, self.env)
            if self.debug: print(res)
    
    
    def remove_self_relations(self):
        with self.driver.session() as session:
            res = session.execute_write(self._delete_self_relations, self.env)
            if self.debug: print(res)     
    
    
    def delete_all(self):
        with self.driver.session() as session:
            res = session.execute_write(self._delete_all, self.env)
            if self.debug: print(res)
    
    
    def find_related_tables_by_signature_to_2_grade(self, dataset, weight, dastart, daend):
        with self.driver.session() as session:
            res, graph = session.execute_read(self._fetch_related_tables_by_signature_to_2_grade, dataset, weight, dastart, daend, self.env)
            if self.debug: print(res)
            return res, graph
    
    
    def find_related_tables_by_content_to_1_grad_starting_from_attribute(self, attribute, weight, dastart, daend, tipology):
        with self.driver.session() as session:
            if tipology == GraphService.OUTER:
                res, graph = session.execute_read(self._fetch_related_tables_by_content_to_1_grade_from_outer_column, attribute, weight, dastart, daend, self.env)
            elif tipology == GraphService.INNER:
                res, graph = session.execute_read(self._fetch_related_tables_by_content_to_1_grade_from_inner_column, attribute, weight, dastart, daend, self.env)
            else:
                Exception('Graph Query fetch related tables by content to 1 grade, tipology unknown')
            if self.debug: print(res)
            return res, graph
    
    
    def find_related_tables_by_content_to_1_grad_starting_from_table(self, dataset, weight, dastart, daend, tipology):
        with self.driver.session() as session:
            res, graph = session.execute_read(self._fetch_related_tables_by_content_to_1_grade_starting_table_name, dataset, weight, dastart, daend, self.env)
            if self.debug: print(res)
            return res, graph    
    
    
    @staticmethod
    def _create_column_node(tx, idx, data, env):
        result = tx.run("MERGE (a:Column {idx: $idx, source: $source, schema: $schema, dataset: $dataset, hdfs_path: $hdfs_path, version: $version, env: $env, "
                        "attribute: $attribute, data_type: $data_type, uniqueness: $uniqueness}) "
                        "ON CREATE SET a.createdAt = timestamp(), a.updatetAt = timestamp() "
                        "ON MATCH SET a.updatetAt = timestamp() "
                        "RETURN a.name + ' created as node ' + id(a) ",
                        source=data['source'], schema=data['schema'], dataset=data['dataset'], version=1, timestamp=data['timestamp'],
                        attribute=data['attribute'],  data_type=data['data_type'], cardinality=data['cardinality'],  hdfs_path= data['hdfs_path'], uniqueness=data['uniqueness'], 
                        env=env, idx=idx) 
        return result.single()[0]
    
    
    @staticmethod
    def _create_table_node(tx, idx, data, env):
        result = tx.run("MERGE (a:Table{idx: $idx, source: $source, schema: $schema, dataset: $dataset, hdfs_path: $hdfs_path, version: $version, env: $env}) "
                        "ON CREATE SET a.createdAt = timestamp(), a.updatetAt = timestamp() "
                        "ON MATCH SET a.updatetAt = timestamp() "
                        "RETURN a.name + ' created as node ' + id(a) ", 
                        source=data['source'], schema=data['schema'], dataset=data['dataset'], hdfs_path= data['hdfs_path'], version=data['version'], timestamp=data['timestamp'], 
                        env=env, idx=idx)
        return result.single()[0]
    
    
    @staticmethod
    def _create_table_table_relation(tx, idx_a, idx_b, weight, env):
        result = tx.run("MATCH (a:Table {idx: $idx_a, env: $env}), (b:Table {idx: $idx_b, env: $env}) "
                        "WHERE a <> b "
                        "MERGE (a)-[r:IS_SIMILAR_TO {weight: $weight}]-(b) "
                        "ON CREATE SET r.createdAt = timestamp() , r.updatetAt = timestamp()"
                        "ON MATCH SET r.updatetAt = timestamp() "
                        "RETURN 'relation ' + type(r) + ' created between ' + a.dataset + ' and ' + b.dataset",
                        idx_a=idx_a, idx_b=idx_b, weight=weight, env=env)  
        entire_result = []
        for record in result:
            entire_result.append(record[0])
            
        return entire_result
    
    @staticmethod
    def _create_column_table_relation(tx, idx_col, idx_tab, env):
        result = tx.run("MATCH (t:Table {idx: $idx_tab, env: $env}) "
                        "WITH max(t.version) AS maximum "
                        "MATCH (c:Column {idx: $idx_col, env: $env}), (t:Table {idx: $idx_tab, env: $env}) "
                        "WHERE t.version = maximum "
                        "MERGE (c)-[r:IS_ATTRIBUTE_OF {weight: '1.0'}]->(t) "
                        "ON CREATE SET r.createdAt = timestamp(), r.updatetAt = timestamp() "
                        "ON MATCH SET r.updatetAt = timestamp() "
                        "RETURN 'relation ' + type(r) + ' created between ' + c.attribute + ' and ' + t.dataset", 
                        idx_tab=idx_tab, idx_col=idx_col, env=env)    
        entire_result = []
        for record in result:
            entire_result.append(record[0])
            
        return entire_result

    
    @staticmethod
    def _create_column_column_relation(tx, idx_a, idx_b, weight, env):
        result = tx.run("MATCH (a:Column {idx: $idx_a, env: $env}), (b:Column {idx: $idx_b, env: $env}) "
                        "WHERE a.dataset <> b.dataset AND a <> b "
                        "MERGE (a)-[r:IS_SIMILAR_TO {weight: $weight}]-(b) "
                        "ON CREATE SET r.createdAt = timestamp(), r.updatetAt = timestamp() "
                        "ON MATCH SET r.updatetAt = timestamp() "
                        "RETURN 'relation ' + type(r) + ' created between ' + a.attribute + ' and ' + b.attribute", 
                        idx_a=idx_a, idx_b=idx_b, env=env, weight=weight)
        entire_result = []
        for record in result:
            entire_result.append(record[0])
            
        return entire_result
    
    
    @staticmethod
    def _delete_self_relations(tx, env):
        result = tx.run("MATCH (a {env: $env})-[rel:IS_SIMILAR_TO]->(a) DELETE rel", env=env)
        entire_result = []
        for record in result:
            entire_result.append(record[0])
            
        return entire_result
   
    @staticmethod
    def _delete_all(tx, env):
        result = tx.run("MATCH (n {env: $env}) DETACH DELETE n", env=env)
        entire_result = []
        for record in result:
            entire_result.append(record[0])
            
        return entire_result
    
    @staticmethod
    def _fetch_related_tables_by_signature_to_2_grade(tx, dataset, weight, dastart, daend, env):
        q = '''
            MATCH (a:Table)-[r1:IS_SIMILAR_TO]-(b:Table) 
            WHERE a.dataset = $dataset AND a.env = $env AND b.env = $env AND r1.weight = $weight
                AND $dastart <= r1.updatetAt AND r1.updatetAt <= $daend
            OPTIONAL MATCH (b:Table)-[r2:IS_SIMILAR_TO]-(c:Table) 
            WHERE c.env = $env AND c <> a AND r2.weight = $weight 
                AND $dastart <= r2.updatetAt AND r2.updatetAt <= $daend
            RETURN a, b, c
        '''     
        result = tx.run(dedent(q), env=env, dataset=dataset, weight=weight, dastart=dastart, daend=daend)
        graph = tx.run(dedent(q), env=env, dataset=dataset, weight=weight, dastart=dastart, daend=daend).graph
        entire_result = []
        for record in result:
            entire_result.append((record[0], record[1], record[2]))

        return entire_result, graph
    
    @staticmethod
    def _fetch_related_tables_by_content_to_1_grade_from_outer_column(tx, attribute, weight, dastart, daend, env):
        q = '''
            MATCH (a:Column)-[r1:IS_ATTRIBUTE_OF]-(b:Table)<-[r2:IS_ATTRIBUTE_OF]-(c:Column)-[r3:IS_SIMILAR_TO]-(d:Column)-[r4:IS_ATTRIBUTE_OF]->(e:Table)
            WHERE a.attribute = $attribute AND a.env=$env AND b.env=$env AND c.env=$env AND d.env=$env AND e.env=$env AND b <> e AND r3.weight=$weight
                AND a <> c 
                AND a <> d
                AND $dastart <= r1.updatetAt AND r1.updatetAt <= $daend
                AND $dastart <= r2.updatetAt AND r2.updatetAt <= $daend
                AND $dastart <= r3.updatetAt AND r3.updatetAt <= $daend
                AND $dastart <= r4.updatetAt AND r4.updatetAt <= $daend
            RETURN b, c, d, e
        ''' 
        result = tx.run(dedent(q), env=env, attribute=attribute, weight=weight, dastart=dastart, daend=daend)
        graph = tx.run(dedent(q), env=env, attribute=attribute, weight=weight, dastart=dastart, daend=daend).graph()
        entire_result = []
        for record in result:
            entire_result.append((record[0], record[1], record[2], record[3]))

        return entire_result, graph
    
    
    @staticmethod
    def _fetch_related_tables_by_content_to_1_grade_from_inner_column(tx, attribute, weight, dastart, daend, env):
        q = '''
            MATCH (b:Table)<-[r2:IS_ATTRIBUTE_OF]-(c:Column)-[r3:IS_SIMILAR_TO]-(d:Column)-[r4:IS_ATTRIBUTE_OF]->(e:Table)
            WHERE c.attribute = $attribute AND b.env=$env AND c.env=$env AND d.env=$env AND e.env=$env AND b <> e AND r3.weight=$weight
                AND $dastart <= r2.updatetAt AND r2.updatetAt <= $daend
                AND $dastart <= r3.updatetAt AND r3.updatetAt <= $daend
                AND $dastart <= r4.updatetAt AND r4.updatetAt <= $daend
            RETURN b, c, d, e
        '''
        result = tx.run(dedent(q), env=env, attribute=attribute, weight=weight, dastart=dastart, daend=daend)
        graph = tx.run(dedent(q), env=env, attribute=attribute, weight=weight, dastart=dastart, daend=daend).graph
        entire_result = []
        for record in result:
            entire_result.append((record[0], record[1], record[2], record[3]))

        return entire_result, graph
    
    
    @staticmethod
    def _fetch_related_tables_by_content_to_1_grade_starting_table_name(tx, dataset, weight, dastart, daend, env):
        q = '''
            MATCH (b:Table)<-[r2:IS_ATTRIBUTE_OF]-(c:Column)-[r3:IS_SIMILAR_TO]-(d:Column)-[r4:IS_ATTRIBUTE_OF]->(e:Table)
            WHERE b.dataset = $dataset AND b.env=$env AND c.env=$env AND d.env=$env AND e.env=$env AND b <> e AND r3.weight=$weight
                AND $dastart <= r2.updatetAt AND r2.updatetAt <= $daend
                AND $dastart <= r3.updatetAt AND r3.updatetAt <= $daend
                AND $dastart <= r4.updatetAt AND r4.updatetAt <= $daend
            RETURN b, c, d, e
        '''
        result = tx.run(dedent(q), env=env, dataset=dataset, weight=weight, dastart=dastart, daend=daend)
        graph = tx.run(dedent(q), env=env, dataset=dataset, weight=weight, dastart=dastart, daend=daend).graph()
        entire_result = []
        for record in result:
            entire_result.append((record[0], record[1], record[2], record[3]))

        return entire_result, graph

In [114]:
class MainteinanceService():
    
    def __init__(self, env, graph_db, search_engine, cache, index_signature, index_content, debug=False):
        self.env = env
        self.debug = debug
        self.graph_db = graph_db
        self.search_engine = search_engine
        self.cache = cache
        self.index_signature = index_signature
        self.index_content = index_content
        
        self.lsh = {
            # '0.0':  MinHashLSH(
            #     threshold=0.0, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            # '0.1':  MinHashLSH(
            #     threshold=0.1, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            # '0.2':  MinHashLSH(
            #     threshold=0.2, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            # '0.3':  MinHashLSH(
            #     threshold=0.3, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            # '0.4':  MinHashLSH(
            #     threshold=0.4, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            '0.5':  MinHashLSH(
                threshold=0.5, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_content[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
             }),
            # '0.6':  MinHashLSH(
            #     threshold=0.6, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 0}
            # }),
            # '0.7': MinHashLSH(
            #     threshold=0.7, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_content[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 1}
            # }),
            '0.8': MinHashLSH(
                threshold=0.8, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_content[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 2}
            }),
            '0.9': MinHashLSH(
                threshold=0.9, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_content[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 2}
            }),
            '1.0': MinHashLSH(
                threshold=1.0, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_content[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 2}
             })
        }
        
        self.lsh_sig = {
            # '0.0': MinHashLSH(
            #     threshold=0.0, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.1': MinHashLSH(
            #     threshold=0.1, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.2': MinHashLSH(
            #     threshold=0.2, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.3': MinHashLSH(
            #     threshold=0.3, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.4': MinHashLSH(
            #     threshold=0.4, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.5': MinHashLSH(
            #     threshold=0.5, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.6': MinHashLSH(
            #     threshold=0.6, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            # '0.7': MinHashLSH(
            #     threshold=0.7, num_perm=128, storage_config={
            #     'type': 'redis',
            #     'basename': bytearray(self.index_signature[env], 'utf-8'),
            #     'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            # }),
            '0.8': MinHashLSH(
                threshold=0.8, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_signature[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            }),
            '0.9': MinHashLSH(
                threshold=0.9, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_signature[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
            }),
            '1.0': MinHashLSH(
                threshold=1.0, num_perm=128, storage_config={
                'type': 'redis',
                'basename': bytearray(self.index_signature[env], 'utf-8'),
                'redis': {'host': Config.cache_host, 'port': Config.cache_port, 'db': 3}
             })
        }

    
    # TODO: refactor, adding delete x env amd clearing diff. between namespace and db
    def reset_storage_system(self, verbose=True):
        self._clear_cache_ns('db0')
        self._clear_cache_ns('db1')
        self._clear_cache_ns('db2')
        self._clear_cache_ns('db3')

        self.search_engine.clear_es()
        self.search_engine.create_es_schema_content()
        self.search_engine.create_es_schema_signature()

        self.graph_db.delete_all()

        if (verbose): print("system storage reset completed")

    def create_profiles(self, data_to_load, verbose=True):
        profiles = {
            'signature':[],
            'content': []
        }
        
        for dataset in data_to_load:
            doc = self._create_dataset_signature(dataset['source'], dataset['schema'], dataset['dataset'], dataset['dataframe'], dataset['hdfs_path'])
            profiles['signature'].append(doc)
        if (verbose): print("created signature profiles")

        for dataset in data_to_load:
            doc = self._create_attributes_signature(dataset['source'], dataset['schema'], dataset['dataset'], dataset['dataframe'],  dataset['hdfs_path'], dataset['attributes_blacklist'], dataset['keywords_whitelist'])
            profiles['content'].append(doc)
        if (verbose): print("created content profiles")
        
        return profiles
    
    
    def _create_attributes_signature(self, source, schema, dataset, df, hdfs_path, attributes_blacklist, keywords_whitelist):
        doc, min_hashes = self._calc_attributes_signature(source, schema, dataset, df, hdfs_path, attributes_blacklist, keywords_whitelist)
        
        try:
            self._insert_min_hashes(min_hashes, self.lsh)
            self.search_engine.upsert(self.index_content[self.env], Utils.calc_idx_content, doc)
        except Exception as e:
            print("something didn't work", doc, "\n", str(e))
        
        return doc
      
    
    def _create_dataset_signature(self, source, schema, dataset, df, hdfs_path):
        doc, min_hashes = self._calc_dataset_signature(source, schema, dataset, df, hdfs_path)
        
        try:
            self._insert_min_hashes(min_hashes, self.lsh_sig)
            self.search_engine.upsert(self.index_signature[self.env], Utils.calc_idx_signature, doc)
        except Exception as e:
            print("something didn't work", doc, "\n", str(e))
        
        return doc

    
    def _insert_min_hashes(self, min_hashes, lsh_list):
        for threshold, lsh in lsh_list.items():
            with lsh.insertion_session() as session:
                for key, minhash in min_hashes:
                    label = key
                    if self.debug: print(label)
                    if self.debug: print(minhash)
                    try:
                        lsh.remove(label)
                    except:
                        if self.debug:  print("Key %s doesn't exist."%label) 
                    session.insert(label, minhash)
                    
    
    def _calc_attributes_signature(self, source, schema, dataset, df, hdfs_path, attributes_blacklist, keywords_whitelist):
        doc = []
        min_hashes = []
        if len(df.columns) < 1:
            Exception("Data Frame not present")
        
        for c_n in df.columns:
            if c_n not in attributes_blacklist:
                m = MinHash(num_perm=128)
                df_s = df.select(c_n)
                dtype = dict(df.dtypes)[c_n]
                crd = df_s.distinct().count()
                size = df_s.count()
                keywords = []

                count_boolean = 0
                for iterator in df_s.collect():
                    v = iterator[0]

                    try:
                        if dtype == 'int':
                            v = str(v).strip()
                            m.update(v.encode('utf8'))
                        elif dtype == 'bool':
                            # do nothing
                            #m.update((str(v)).encode('utf8'))
                            count_boolean = count_boolean + 1 
                            if count_boolean == 1: print("%s: %s", dtype,str(v)) 
                        elif dtype == 'date': 
                            v = v.strftime("%Y-%m-%d %H:%M:%S.%f")
                            m.update(v.encode('utf8'))
                        elif (dtype == 'double'):
                            m.update((str(v)).encode('utf8'))
                        else:
                            if v is not None:
                                m.update(str(v).encode('utf8'))

                        if  c_n in keywords_whitelist and v is not None and v != '[Null]' :
                            keywords.append(v)
                    except Exception as e:
                        pprint(e)
                        print("%s: %s", dtype,str(v))

                data = {}
                data['source'] = source
                data['schema'] = schema
                data['dataset'] = dataset
                data['attribute'] = c_n
                data['data_type'] = dtype
                data['timestamp'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
                data['size'] = size
                data['hdfs_path'] = hdfs_path
                data['cardinality'] = crd
                data['uniqueness'] = crd / size     
                data['min_hash'] =  m.hashvalues
                data['min_hash_seed'] = m.seed
                data['keywords'] = ' '.join(keywords)

                min_hashes.append((Utils.calc_idx_content(data), m))
                doc.append(data)

        return doc, min_hashes


    def _calc_dataset_signature(self, source, schema, dataset, df, hdfs_path):
        min_hashes = []
        keywords = []

        m = MinHash(num_perm=128)
        for c in df.columns:
            m.update(c.encode('utf8'))
            keywords.append(c)

        data = {}
        data['source'] = source
        data['schema'] = schema
        data['dataset'] = dataset
        data['hdfs_path'] = hdfs_path
        data['timestamp'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
        data['min_hash'] =  m.hashvalues
        data['min_hash_seed'] = m.seed
        data['data_types'] = Utils.serialize_dict_data_types(Utils.get_df_data_types_as_dict(df))
        data['keywords'] = ' '.join(keywords)

        min_hashes.append((Utils.calc_idx_signature(data), m))

        data['version'] = self._calc_version(Utils.calc_idx_signature(data), Utils.get_df_data_types_as_dict(df))

        return [data], min_hashes

    
    def _calc_version(self, k, d):
        h = Utils.dict_hash(d)
        v = self.cache.get(k)
        version = 0

        if self.debug: print(v)
        if v:
            ser = json.loads(v)
            if self.debug: print("%s: %s", ser, k)
            version = int(ser['version'])
            if ser['hash'] != h:
                version = version + 1
                if self.debug: print('Version incremented for key: %s' % k)\

        nd = {
            'hash': h,
            'version': version
        }

        self.cache.set(k, json.dumps(nd))

        return version


    def update_graph(self, verbose=True):     
        # Create Table nodes and their relations - if something has changed, a new node is added
        hits = self.search_engine.get_hits(self.index_signature[self.env])
        edges = []

        for hit in hits:
            min_hash_hashes = np.array(hit['_source']["min_hash"],  dtype=np.int64)
            min_hash_seed = hit['_source']["min_hash_seed"]

            mt = MinHash(num_perm=128)
            mt.hashvalues = min_hash_hashes
            mt.seed = min_hash_seed

            for threshold, lsh in self.lsh_sig.items():
                bucket = lsh.query(mt)
                edges.append((hit['_id'], bucket, str(threshold)))
        
        for hit in hits: self.graph_db.insert_table_node(hit['_id'], hit['_source'])
        for k,b,th in edges:
            for v in b: 
                if self.debug: print("key: %s - bucket: %s - threshold: %s"%(k, b, th))
                self.graph_db.add_table_table_relation(k,v,th)

        if (verbose): print("created dataset nodes and their relationships")

        # Create Column nodes and their relations - if something has changed, a new node is added
        hits = self.search_engine.get_hits(self.index_content[self.env])
        
        edges = []
        for hit in hits:
            min_hash_hashes = np.array(hit['_source']["min_hash"],  dtype=np.int64)
            min_hash_seed = hit['_source']["min_hash_seed"]

            mt = MinHash(num_perm=128)
            mt.hashvalues = min_hash_hashes
            mt.seed = min_hash_seed

            for threshold, lsh in self.lsh.items():
                bucket = lsh.query(mt)
                edges.append((hit['_id'], bucket, str(threshold)))
        
        for hit in hits: self.graph_db.insert_column_node(hit['_id'], Utils.calc_idx_signature(hit['_source']), hit['_source'])
        for k,b,th in edges:
            for v in b: 
                if self.debug: print("key: %s - bucket: %s - threshold: %s"%(k, b, th))
                self.graph_db.add_column_column_relation(k,v,th)

        if (verbose): print("created attribute nodes and their relationships")

        # Cleanup
        self.graph_db.remove_self_relations()
        self.graph_db.close()

        if (verbose): print("cleaned up")
    
    def _clear_cache_ns(self, ns):
        """
        Clears a namespace in redis cache.
        This may be very time consuming.
        :param ns: str, namespace i.e your:prefix*
        :return: int, num cleared keys
        """
        count = 0
        pipe = self.cache.pipeline()
        for key in self.cache.scan_iter(ns):
            pipe.delete(key)
            count += 1
        pipe.execute()
        return count

In [115]:
class DataDescriptionService:
    
    class DataDescriptor(Document):
        metadata = DictField()
        signature = StringField(required=True, max_length=300)
        description = StringField(required=True)
        hdfs_path = StringField(required=True, max_length=255)
        source = StringField(required=True, max_length=255)
        schema = StringField(required=True, max_length=255)
        dataset = StringField(required=True, max_length=255)
        created_at = StringField(max_length=80)
        data_types = DictField()
        notes = ListField()
        version = IntField()
    
    def __init__(self, db, username, password, host, port, env, content_analyzer_service):
        disconnect()
        connect(
            db=db,
            username=username,
            password=password,
            authentication_source='admin',
            host=host, 
            port=port
        )
        self.env = env
        self.content_analyzer_service = content_analyzer_service

    
    def clear_all(self):
        DataDescriptionService.DataDescriptor.drop_collection()
    
    
    def create_data_descriptions(self, data_to_load, verbose=True):
        for data in data_to_load:
            hdfs_path = data['hdfs_path']
            signature = data['signature']
            description = data['source_description']
            metadata = self.content_analyzer_service.create_metadata(hdfs_path)
            
            document = self.find_by_signature(signature)
            if len(document) < 1:
                document = DataDescriptionService.DataDescriptor(
                    metadata = metadata,
                    signature = data['signature'],
                    description = data['source_description'],
                    source = data['source'],
                    schema = data['schema'],
                    dataset = data['dataset'],
                    hdfs_path = data['hdfs_path'],
                    version = 1
                )
            else:
                document.metadata = metadata,
                document.signature = data['signature'],
                document.description = data['source_description'],
                document.source = data['source'],
                document.schema = data['schema'],
                document.dataset = data['dataset'],
                document.hdfs_path = data['hdfs_path']
                document.version = document.version + 1
            document.save()
        
        if (verbose): print('created data descriptions')
    
    
    def add_additional_data(self, profiles, verbose=True):
        for profile in profiles['signature']:
            data = profile[0]
            signature = Utils.calc_idx_signature(data)
            for doc in DataDescriptionService.DataDescriptor.objects(signature=signature):
                doc.created_at = data['timestamp']
                doc.data_types = Utils.deserialize_dict_data_types(data['data_types'])
                doc.save()
        if (verbose): print('added additional data to existing data descriptions')
        
        
    def find_all(self):
        return DataDescriptionService.DataDescriptor.objects()
    
    def find_by_source(self, source):
        return DataDescriptionService.DataDescriptor.objects(source=source)
    
    
    def find_by_schema(self, schema):
        return DataDescriptionService.DataDescriptor.objects(schema=schema)
    
    
    def find_by_dataset(self, dataset):
        return DataDescriptionService.DataDescriptor.objects(dataset=dataset)
    
    def find_by_signature(self, signature):
        return DataDescriptionService.DataDescriptor.objects(signature=signature)
    
    def update_description(self, signature, description):
        for doc in DataDescriptionService.DataDescriptor.objects(signature=signature):
            doc.description = description
            doc.save()
    
    def add_note(self, signature, note):
        for doc in DataDescriptionService.DataDescriptor.objects(signature=signature):
            notes = doc.notes
            notes.append(note)
            doc.notes = notes
            doc.save()
    
    def toDict(self, dataset):
        return {
            'metadata': dataset.metadata,
            'signature': dataset.signature,
            'description': dataset.description,
            'hdfs_path': dataset.hdfs_path,
            'source': dataset.source,
            'schema': dataset.schema,
            'dataset': dataset.dataset,
            'created_at': dataset.created_at,
            'data_types': dataset.data_types,
            'notes': dataset.notes
        }

In [116]:
class ContentAnalyzerService:
    op_open = 'op=OPEN'
    
    def create_metadata(self, path):
        data = parser.from_file(Config.content_analyzer_url_base + path + '?' + ContentAnalyzerService.op_open)
        return data['metadata']

In [126]:
class DataExplorationService: 
    
    START_FROM_DATASET = 'start-from-dataset'
    START_FROM_ATTRIBUTE = 'start-from-attribute'
    
    
    def __init__(self, graph_service, search_service, data_description_service, debug=False):
        self.debug = debug
        self.graph_service = graph_service
        self.search_service = search_service
        self.data_description_service = data_description_service
        
    @staticmethod
    def _ts_to_str(ts):
        date_time = datetime.fromtimestamp(int(ts / 1000))
        d = date_time.strftime("%m/%d/%Y, %H:%M:%S")
        return d

    @staticmethod
    def _related_nodes_by_content_to_str(node):
         return (str(node[0]['dataset']) + ' version: ' \
                 + str(node[0]['version']) + ' -> (' + str(node[1]['attribute']) \
                 + ' - ' + str(node[2]['attribute']) + ') <- ' \
                 + str(node[3]['dataset']) + ' version: ' \
                 + str(node[3]['version']) + '\n')
    
    @staticmethod
    def _create_ds_attribute_node(d):
        return {
            'idx': d[0],
            'source': d[1],
            'schema': d[2],
            'dataset': d[3],
            'attribute': d[4],
            'version':  d[5]
        }

    @staticmethod
    def _create_ds_dataset_node(d):
        return {
            'idx': d[0],
            'source': d[1],
            'schema': d[2],
            'dataset': d[3],
            'version':  d[4],
            'uri': ''
        }
    
    @staticmethod
    def get_pd_dataframe_of_results(queries):
        sources_datasets = [i['source_name'] for i in queries.values()]
        sources_attributes = [i['source_attribute_name'] for i in queries.values()]
        targets_datasets = [i['target_name'] for i in queries.values()]
        targets_attributes = [i['target_attribute_name'] for i in queries.values()]

        table_q = pd.DataFrame(zip(queries.keys(), sources_datasets, sources_attributes, targets_attributes, targets_datasets), columns=["Query", "Dataset a", "Attribute a", "Attribute b", "Dataset b"])
        table_oq = pd.DataFrame(zip(sources_datasets, sources_attributes, targets_attributes, targets_datasets), columns=["Dataset a", "Attribute a", "Attribute b", "Dataset b"])

        return table_q, table_oq
    
    @staticmethod
    def format_results(exploration_results): 
        df = pd.DataFrame(columns=['dataset','related_nodes_by_signature', 'related_nodes_by_content'])
        i = 0
        for res in exploration_results:
            dataset_struct = eval(res['dataset'])
            dataset = '%s.%s.%s'%(dataset_struct['source'],dataset_struct['schema'],dataset_struct['dataset'])

            related_nodes_by_signature = []
            for n in res['related_nodes_by_signature']:
                related_nodes_by_signature.append(n['f_grad_dataset'])

            related_nodes_by_content = []
            for no in res['related_nodes_by_content']:
                n = no[0]
                n['source_attribute']
                s = '%s.%s.%s.%s'%(n['source_attribute'][1],n['source_attribute'][2], n['source_attribute'][3],n['source_attribute'][4])
                t = '%s.%s.%s.%s'%(n['target_attribute'][1],n['target_attribute'][2], n['target_attribute'][3],n['target_attribute'][4])
                rel = '%s -> %s'%(s,t)
                related_nodes_by_content.append(rel)

            df.loc[i] = [dataset,list(set(related_nodes_by_signature)), list(set(related_nodes_by_content))]
            i = i + 1

        return df
    
    def _find_related_datasets_by_signature(self, dataset, treshold, dastart, daend):
        related_nodes = []
        
        related_nodes_by_signature_to_2_grade, graph = self.graph_service.find_related_tables_by_signature_to_2_grade(dataset, treshold, dastart, daend)
        for node in related_nodes_by_signature_to_2_grade: 
            if node[2] is not None:
                s_grad_dataset =  (node[2]['idx'], node[2]['source'], node[2]['schema'], node[2]['dataset'], node[2]['hdfs_path'], node[2]['version'])
            else:
                s_grad_dataset = ()

            related_nodes.append({
                'source_dataset': (node[0]['idx'], node[0]['source'], node[0]['schema'], node[0]['dataset'], node[0]['hdfs_path'], node[0]['version']),
                'f_grad_dataset': (node[1]['idx'], node[1]['source'], node[1]['schema'], node[1]['dataset'], node[1]['hdfs_path'], node[1]['version']),
                's_grad_dataset': s_grad_dataset
            })

        return related_nodes, graph


    def _find_related_datasets_by_content(self, dataset, attribute, treshold, dastart, daend, tipology, start):
        related_nodes = []

        if start == DataExplorationService.START_FROM_DATASET:
            related_nodes_by_content_to_1_grad, graph = self.graph_service.find_related_tables_by_content_to_1_grad_starting_from_table(attribute, treshold, dastart, daend, tipology)
        else:
            related_nodes_by_content_to_1_grad, graph = self.graph_service.find_related_tables_by_content_to_1_grad_starting_from_attribute(attribute, treshold, dastart, daend, tipology)
  
        for node in related_nodes_by_content_to_1_grad:
            if node[0]['dataset'] == dataset or node[3]['dataset'] == dataset:
                related_nodes.append({
                    'source_dataset': (node[0]['idx'], node[0]['source'], node[0]['schema'], node[0]['dataset'], node[0]['hdfs_path'], node[0]['version']),
                    'source_attribute': (node[1]['idx'], node[1]['source'], node[1]['schema'], node[1]['dataset'], node[1]['attribute'], node[1]['version']),
                    'target_attribute': (node[2]['idx'], node[2]['source'], node[2]['schema'], node[2]['dataset'], node[2]['attribute'], node[2]['version']),
                    'target_dataset': (node[3]['idx'], node[3]['source'], node[3]['schema'], node[3]['dataset'], node[3]['hdfs_path'], node[3]['version'])
                })
            if self.debug: print(DataExplorationService._related_nodes_by_content_to_str(node))

        return related_nodes, graph
    
        
    def discover_datasets(self, topic, dastart, daend, treshold_signature, treshold_content, verbose=True):
        if (verbose): print('Dataset Discovery for topic %s, from date %s to date %s\n\n' % (topic, DataExplorationService._ts_to_str(dastart), DataExplorationService._ts_to_str(daend)))

        # find datasets for topic over keywords with elasticsearch
        hits_for_topic = self.search_service.search_by_keyword(Config.index_content[env], topic)

        # find related datasets with neo4j
        results = []
        for hit in hits_for_topic:
            related_nodes_by_signature, graph_signature = self._find_related_datasets_by_signature(hit['dataset'], treshold_signature, dastart, daend)            
            related_nodes_by_content, graph_content = self._find_related_datasets_by_content(hit['dataset'], hit['attribute'], treshold_content, dastart, daend, GraphService.OUTER, DataExplorationService.START_FROM_ATTRIBUTE)

            results.append({'hit': hit,
                            'related_nodes_by_signature': related_nodes_by_signature,
                            'related_nodes_by_content': related_nodes_by_content,
                            'graph_signature': graph_signature,
                            'graph_content': graph_content
                           })
        return results

    
    def _hydtrate_exploration_results(self, datasets, treshold_signature, treshold_content, dastart, daend, tipology, start):
        results = []

        for dataset in datasets:
            related_nodes_by_signature, graph_signature = self._find_related_datasets_by_signature(dataset.dataset, treshold_signature, dastart, daend)            

            related_nodes_by_content = []
            graphs_content = []
            for attribute in dataset.data_types.keys():
                related_nodes, graph_content = self._find_related_datasets_by_content(dataset.dataset, attribute, treshold_content, dastart, daend, tipology, start)
                if len(related_nodes) > 0:
                    related_nodes_by_content.append(related_nodes)
                    graphs_content.append(graph_content)

            results.append({'dataset': dataset.to_json(), #self.data_description_service.toDict(dataset),
                            'related_nodes_by_signature': related_nodes_by_signature,
                            'related_nodes_by_content': related_nodes_by_content,
                            'graph_signature': graph_signature,
                            'graph_content': graphs_content
                           })
        return results

    
    def _explore_by(self, attribute_type, attribute):
        if attribute_type == 'source':
            datasets = self.data_description_service.find_by_source(attribute)
        elif attribute_type == 'schema': 
            datasets = self.data_description_service.find_by_schema(attribute)
        elif attribute_type == 'dataset': 
            datasets = self.data_description_service.find_by_dataset(attribute)
        else:
            print('type not known')      
        return datasets

    
    def get_all(self, treshold_signature, treshold_content, dastart, daend):
        datasets = self.data_description_service.find_all()
        results = self._hydtrate_exploration_results(datasets, treshold_signature, treshold_content, dastart, daend,
                                                     GraphService.OUTER, DataExplorationService.START_FROM_ATTRIBUTE)
        return results
    
    
    def explore_by_source(self, source, treshold_signature, treshold_content, dastart, daend):
        datasets = self._explore_by('source', source)
        results = self._hydtrate_exploration_results(datasets, treshold_signature, treshold_content, dastart, daend,
                                                     GraphService.OUTER, DataExplorationService.START_FROM_ATTRIBUTE)
        return results
    

    def explore_by_schema(self, schema, treshold_signature, treshold_content, dastart, daend):
        datasets = self._explore_by('schema', schema)
        results = self._hydtrate_exploration_results(datasets, treshold_signature, treshold_content, dastart, daend,
                                                     GraphService.OUTER, DataExplorationService.START_FROM_ATTRIBUTE)
        return results
    

    def explore_by_dataset(self, dataset, treshold_signature, treshold_content, dastart, daend):
        datasets = self._explore_by('dataset', dataset)
        results = self._hydtrate_exploration_results(datasets, treshold_signature, treshold_content, dastart, daend,
                                                     GraphService.OUTER, DataExplorationService.START_FROM_ATTRIBUTE)
        return results


    def explore_by_signature(self, signature):
            return self.data_description_service.find_by_signature(signature)


    def insert_note(self, signature, note):
        self.data_description_service.add_note(signature, note)


    def update_description(self, signature, description):
        self.data_description_service.update_description(signature, description)

        
    def generate_queries_for_discovered_datasets(self, discovered_datasets):
        queries = {}
        for hit in discovered_datasets:
            for related_node_by_content in hit['related_nodes_by_content']:    
                data_x_q = {
                    'source': DataExplorationService._create_ds_dataset_node(related_node_by_content['source_dataset']),
                    'join_a_s': DataExplorationService._create_ds_attribute_node(related_node_by_content['source_attribute']), 
                    'join_a_t': DataExplorationService._create_ds_attribute_node(related_node_by_content['target_attribute']), 
                    'target': DataExplorationService._create_ds_dataset_node(related_node_by_content['target_dataset']),
                }
  
                data_x_q['source']['uri'] = Config.hadoop_uri + related_node_by_content['source_dataset'][4]
                data_x_q['target']['uri'] = Config.hadoop_uri + related_node_by_content['target_dataset'][4]

                q = f'''
                    SELECT * FROM {data_x_q['source']['dataset']} a JOIN {data_x_q['target']['dataset']} b ON (a.{data_x_q['join_a_s']['attribute']} = b.{data_x_q['join_a_t']['attribute']})
                '''

                queries[q.strip()] = {
                        'source_name': data_x_q['source']['dataset'].strip(),
                        'source_uri': data_x_q['source']['uri'].strip(),
                        'source_attribute_name': data_x_q['join_a_s']['attribute'].strip(),
                        'target_name': data_x_q['target']['dataset'].strip(),
                        'target_uri': data_x_q['target']['uri'].strip(),
                        'target_attribute_name': data_x_q['join_a_t']['attribute'].strip()
                }

        return queries
    
    
    def exec_query_by_number(self, n):
        query = list(queries.keys())[n]
        return self.exec_query(query, queries[query])
    
    
    def exec_query(self, query, context):
        # if self.debug: print(f'{queries[i]['source_name']} {queries[i]['source_uri']} {queries[i]['target_name']} {queries[i]['target_uri']}')

        df_source = spark.read.format('csv').option('header', 'true').load(context['source_uri'])
        df_target = spark.read.format('csv').option('header', 'true').load(context['target_uri'])

        df_source.createOrReplaceTempView(context['source_name'])
        df_target.createOrReplaceTempView(context['target_name'])

        if self.debug: df_source.show()
        if self.debug: df_target.show()

        df_res = None
        try:
            pprint(query)
            df_res = spark.sql(query)
        except:
            print('Something didn\'t work executing this query: %s ' % query)

        return df_res

In [127]:
def init_experiment_infra(data_to_load, env, reset_on_restart, debug):
    if (reset_on_restart):
        mainteinance_service.reset_storage_system()
        data_description_service.clear_all()
    
    data_description_service.create_data_descriptions(data_to_load)
    profiles = mainteinance_service.create_profiles(data_to_load)
    data_description_service.add_additional_data(profiles)
    mainteinance_service.update_graph()


env = 'dev'
debug = False

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

search_service = SearchService(Config.search_service_host, Config.search_service_user, Config.search_service_password, env, Config.index_signature, Config.index_content, debug)

graph_service = GraphService(Config.graph_service_host, Config.graph_service_user, Config.graph_service_password, env, debug)

cache = redis.Redis(connection_pool= redis.ConnectionPool(host=Config.cache_host, port=Config.cache_port, db=Config.cache_db))

mainteinance_service = MainteinanceService(env, graph_service, search_service, cache, Config.index_signature, Config.index_content, debug)

data_description_service = DataDescriptionService(db=Config.data_description_service_host_db_prefix + '-'+ env, username=Config.data_description_service_username,
    password=Config.data_description_service_password,host=Config.data_description_service_host, port=Config.data_description_service_port, env=env, content_analyzer_service=ContentAnalyzerService())

data_exploration_service = DataExplorationService(graph_service=graph_service, search_service=search_service, data_description_service=data_description_service)

### Data Ingestion

Die Dataingestion wird an dieser Stelle simultiert, da sie nicht im Fokus der Arbeit steht. 
Das CSV Format wird als gegeben, da in der Arbeit erstmal nur tabellarische Datenstrukturen konsumiert werden.

In [14]:
!hadoop fs -copyFromLocal ./sample-data/ /

copyFromLocal: `/sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/address__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/addresstype__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/contacttype__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/businessentity__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/businessentityaddress__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/businessentitycontact__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/countryregion__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/emailaddress__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/personphone__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/password__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/person__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/vadditionalcontactinfo__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/phonenumbertype__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/.ipynb_checkpoints/stateprovince__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/addresstype__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/contacttype__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/businessentity__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/businessentityaddress__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/businessentitycontact__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/countryregion__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/emailaddress__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/personphone__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/password__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/person__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/vadditionalcontactinfo__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/phonenumbertype__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/stateprovince__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/person/address__2022-11-23.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vjobcandidate__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vjobcandidateemployment__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vjobcandidateeducation__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vemployee__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vemployeedepartment__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/vemployeedepartmenthistory__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/shift__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/jobcandidate__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/employee__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/employeepayhistory__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/employeedepartmenthistory__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/department__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/employeedepartmenthistory__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/employeepayhistory__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/jobcandidate__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/shift__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vemployee__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vemployeedepartment__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vemployeedepartmenthistory__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vjobcandidate__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vjobcandidateeducation__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/adventureworks-for-postgres/human-resources/.ipynb_checkpoints/vjobcandidateemployment__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/hr-dataset/hrd/HRDataset_generated__2022-11-20.csv': File exists


copyFromLocal: `/sample-data/hr-dataset/hrd/.ipynb_checkpoints/HRDataset_generated__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/hr-dataset/hrd/.ipynb_checkpoints/HRDataset_v14__2022-11-20-checkpoint.csv': File exists


copyFromLocal: `/sample-data/hr-dataset/hrd/HRDataset_v14__2022-11-20.csv': File exists

## Data Discovery

## Data Exploration
Dazu gibt es zwei MÃ¶glichkeiten, ein Benutzer kann:
- entweder den Katalog der vorhandenen Quellen und DatensÃ¤tze durchsuchen
- oder eine Stichwortsuche durchfÃ¼hren.

FÃ¼r jeden identifizierten Datensatz werden:
- das Schema
- eine Beschreibung
- Statistiken
- die Liste der verwandten DatensÃ¤tze nach ÃhnlichkeitsverhÃ¤ltnis bereitgestellt.

### Lesen der Konfigurationfiles und generierung einer entsprechenden Datenzustruktur zur Steuerung der Data Ingestion

Danach wird eine Pull Operation auf einen Kafka Topic simuliert

In [15]:
list_to_read = [
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'address',
        'filename': 'address__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'addresstype',
        'filename': 'addresstype__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'businessentity',
        'filename': 'businessentity__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'businessentityaddress',
        'filename': 'businessentityaddress__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'contacttype',
        'filename': 'contacttype__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'countryregion',
        'filename': 'countryregion__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'emailaddress',
        'filename': 'emailaddress__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'password',
        'filename': 'password__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'person',
        'filename': 'person__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'personphone',
        'filename': 'personphone__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'phonenumbertype',
        'filename': 'phonenumbertype__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'stateprovince',
        'filename': 'stateprovince__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'vadditionalcontactinfo',
        'filename': 'vadditionalcontactinfo__2022-11-20.csv'
    },
    {
        'source': 'hr-dataset',
        'schema': 'hrd',
        'dataset': 'HRDataset_v14',
        'filename': 'HRDataset_v14__2022-11-20.csv'
    }
]

data_to_load = ConfigLoader.data_to_load_job(list_to_read, ConfigLoader.load_config('havel-config.yaml'))

init_experiment_infra(data_to_load, env=env, reset_on_restart=True, debug=False)

system storage reset completed
created data descriptions
23/02/18 13:57:45 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
created signature profiles
created content profiles
added additional data to existing data descriptions
created dataset nodes and their relationships
created attribute nodes and their relationships
cleaned up

## Discover Datasets by keywords

In [16]:
def exec_experiment(topic, dastart, daend, treshold_signature, treshold_content):
    discovered_datasets = data_exploration_service.discover_datasets(topic=topic, dastart=dastart, daend=daend, treshold_signature=treshold_signature, treshold_content=treshold_content)
    queries = data_exploration_service.generate_queries_for_discovered_datasets(discovered_datasets)
    results_dataframe_q, results_dataframe_oq = data_exploration_service.get_pd_dataframe_of_results(queries)
    display(HTML(results_dataframe_q.to_html()))
    display(HTML(results_dataframe_oq.to_html()))
    return results_dataframe_q

In [124]:
# Eminhizer
# Firestone Drive
topic = "Shoop"
treshold_signature='0.8'
treshold_content='0.5'

daend = int(datetime.timestamp(datetime.now())*1000)
a = datetime(2022, 1, 29, 12, 12, 12)
dastart = int(datetime.timestamp(a)*1000)

res_exp_01 = exec_experiment(topic, dastart, daend, treshold_signature, treshold_content)

pprint(res_exp_01)

Dataset Discovery for topic Shoop, from date 01/29/2022, 12:12:12 to date 02/18/2023, 16:27:18

                                                 Query                   Dataset a                     Attribute a                     Attribute b                   Dataset b
0    SELECT * FROM person a JOIN vemployee b ON (a....                      person                  emailpromotion                  emailpromotion                   vemployee
1    SELECT * FROM person a JOIN shift b ON (a.emai...                      person                  emailpromotion                         shiftid                       shift
2    SELECT * FROM person a JOIN employeedepartment...                      person                  emailpromotion                         shiftid   employeedepartmenthistory
3    SELECT * FROM person a JOIN phonenumbertype b ...                      person                  emailpromotion               phonenumbertypeid             phonenumbertype
4    SELECT * FROM person a JOIN personphone b ON (...                      person                  emailpromotion               phonenumbertypeid                 personphone
5    SELECT * FROM person a JOIN HRDataset_v14 b ON...                      person                  emailpromotion                           Termd               HRDataset_v14
6    SELECT * FROM person a JOIN HRDataset_v14 b ON...                      person                  emailpromotion          FromDiversityJobFairID               HRDataset_v14
7    SELECT * FROM person a JOIN HRDataset_v14 b ON...                      person                  emailpromotion                 MaritalStatusID               HRDataset_v14
8    SELECT * FROM person a JOIN HRDataset_v14 b ON...                      person                  emailpromotion                        GenderID               HRDataset_v14
9    SELECT * FROM person a JOIN HRDataset_v14 b ON...                      person                  emailpromotion                       MarriedID               HRDataset_v14
10   SELECT * FROM person a JOIN vemployeedepartmen...                      person                      middlename                      middlename         vemployeedepartment
11   SELECT * FROM person a JOIN vemployee b ON (a....                      person                      middlename                      middlename                   vemployee
12   SELECT * FROM person a JOIN vemployeedepartmen...                      person                      middlename                      middlename  vemployeedepartmenthistory
13   SELECT * FROM person a JOIN vadditionalcontact...                      person                      middlename                      middlename      vadditionalcontactinfo
14   SELECT * FROM person a JOIN vadditionalcontact...                      person                       firstname                       firstname      vadditionalcontactinfo
15   SELECT * FROM person a JOIN vemployeedepartmen...                      person                           title                           title  vemployeedepartmenthistory
16   SELECT * FROM person a JOIN vemployeedepartmen...                      person                           title                           title         vemployeedepartment
17   SELECT * FROM person a JOIN vemployee b ON (a....                      person                           title                           title                   vemployee
18   SELECT * FROM person a JOIN stateprovince b ON...                      person                       namestyle         isonlystateprovinceflag               stateprovince
19   SELECT * FROM person a JOIN personphone b ON (...                      person                businessentityid                businessentityid                 personphone
20   SELECT * FROM person a JOIN emailaddress b ON ...                      person                businessentityid                businessentityid                emailaddress
21   SELECT * FROM person a JOIN emailaddress b ON ...                      person                businessentityid                  emailaddressid                emailaddress
22   SELECT * FROM person a JOIN password b ON (a.b...                      person                businessentityid                businessentityid                    password
23   SELECT * FROM person a JOIN vadditionalcontact...                      person                businessentityid                businessentityid      vadditionalcontactinfo
24   SELECT * FROM person a JOIN businessentity b O...                      person                businessentityid                businessentityid              businessentity
25   SELECT * FROM person a JOIN businessentityaddr...                      person                businessentityid                businessentityid       businessentityaddress
26   SELECT * FROM vadditionalcontactinfo a JOIN pe...      vadditionalcontactinfo                      middlename                      middlename                      person
27   SELECT * FROM vadditionalcontactinfo a JOIN pe...      vadditionalcontactinfo                       firstname                       firstname                      person
28   SELECT * FROM vadditionalcontactinfo a JOIN pe...      vadditionalcontactinfo                businessentityid                businessentityid                      person
29   SELECT * FROM vemployeedepartment a JOIN perso...         vemployeedepartment                      middlename                      middlename                      person
30   SELECT * FROM vemployeedepartment a JOIN perso...         vemployeedepartment                           title                           title                      person
31   SELECT * FROM vemployeedepartmenthistory a JOI...  vemployeedepartmenthistory                      middlename                      middlename                      person
32   SELECT * FROM vemployeedepartmenthistory a JOI...  vemployeedepartmenthistory                           title                           title                      person
33   SELECT * FROM vemployee a JOIN person b ON (a....                   vemployee                  emailpromotion                  emailpromotion                      person
34   SELECT * FROM vemployee a JOIN person b ON (a....                   vemployee                      middlename                      middlename                      person
35   SELECT * FROM vemployee a JOIN person b ON (a....                   vemployee                           title                           title                      person
36   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo            emailtelephonenumber           additionalcontactinfo                   vemployee
37   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                    Edu_Loc_City      vjobcandidateeducation
38   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                    Edu_Loc_tate      vjobcandidateeducation
39   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions           Edu_Loc_CountryRegion      vjobcandidateeducation
40   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                      Edu_School      vjobcandidateeducation
41   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                    Edu_GPAScale      vjobcandidateeducation
42   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                     Name_Suffix               vjobcandidate
43   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                       Addr_Type               vjobcandidate
44   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions          Addr_Loc_CountryRegion               vjobcandidate
45   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                  Addr_Loc_State               vjobcandidate
46   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                   Addr_Loc_City               vjobcandidate
47   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                 Addr_PostalCode               vjobcandidate
48   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                       Edu_Level      vjobcandidateeducation
49   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                   Edu_StartDate      vjobcandidateeducation
50   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                     Edu_EndDate      vjobcandidateeducation
51   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                      Edu_Degree      vjobcandidateeducation
52   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                       Edu_Major      vjobcandidateeducation
53   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                       Edu_Minor      vjobcandidateeducation
54   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo        emailspecialinstructions                         Edu_GPA      vjobcandidateeducation
55   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                    emailaddress           additionalcontactinfo                   vemployee
56   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo  homeaddressspecialinstructions           additionalcontactinfo                   vemployee
57   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                   countryregion           additionalcontactinfo                   vemployee
58   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                      postalcode           additionalcontactinfo                   vemployee
59   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                   stateprovince           additionalcontactinfo                   vemployee
60   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                            city           additionalcontactinfo                   vemployee
61   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                          street           additionalcontactinfo                   vemployee
62   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                    Edu_Loc_City      vjobcandidateeducation
63   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                    Edu_Loc_tate      vjobcandidateeducation
64   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions           Edu_Loc_CountryRegion      vjobcandidateeducation
65   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                      Edu_School      vjobcandidateeducation
66   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                    Edu_GPAScale      vjobcandidateeducation
67   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                     Name_Suffix               vjobcandidate
68   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                       Addr_Type               vjobcandidate
69   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions          Addr_Loc_CountryRegion               vjobcandidate
70   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                  Addr_Loc_State               vjobcandidate
71   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                   Addr_Loc_City               vjobcandidate
72   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                 Addr_PostalCode               vjobcandidate
73   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                       Edu_Level      vjobcandidateeducation
74   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                   Edu_StartDate      vjobcandidateeducation
75   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                     Edu_EndDate      vjobcandidateeducation
76   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                      Edu_Degree      vjobcandidateeducation
77   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                       Edu_Major      vjobcandidateeducation
78   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                       Edu_Minor      vjobcandidateeducation
79   SELECT * FROM vadditionalcontactinfo a JOIN vj...      vadditionalcontactinfo    telephonespecialinstructions                         Edu_GPA      vjobcandidateeducation
80   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                 telephonenumber           additionalcontactinfo                   vemployee
81   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                      middlename                      middlename         vemployeedepartment
82   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                      middlename                      middlename  vemployeedepartmenthistory
83   SELECT * FROM vadditionalcontactinfo a JOIN ve...      vadditionalcontactinfo                      middlename                      middlename                   vemployee
84   SELECT * FROM vadditionalcontactinfo a JOIN pe...      vadditionalcontactinfo                businessentityid                businessentityid                 personphone
85   SELECT * FROM vadditionalcontactinfo a JOIN em...      vadditionalcontactinfo                businessentityid                  emailaddressid                emailaddress
86   SELECT * FROM vadditionalcontactinfo a JOIN em...      vadditionalcontactinfo                businessentityid                businessentityid                emailaddress
87   SELECT * FROM vadditionalcontactinfo a JOIN bu...      vadditionalcontactinfo                businessentityid                businessentityid              businessentity
88   SELECT * FROM vadditionalcontactinfo a JOIN pa...      vadditionalcontactinfo                businessentityid                businessentityid                    password
89   SELECT * FROM vadditionalcontactinfo a JOIN bu...      vadditionalcontactinfo                businessentityid                businessentityid       businessentityaddress
90   SELECT * FROM vemployeedepartment a JOIN vaddi...         vemployeedepartment                      middlename                      middlename      vadditionalcontactinfo
91   SELECT * FROM vemployeedepartmenthistory a JOI...  vemployeedepartmenthistory                      middlename                      middlename      vadditionalcontactinfo
92   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                    emailaddress      vadditionalcontactinfo
93   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                            city      vadditionalcontactinfo
94   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                      postalcode      vadditionalcontactinfo
95   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                          street      vadditionalcontactinfo
96   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                 telephonenumber      vadditionalcontactinfo
97   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo  homeaddressspecialinstructions      vadditionalcontactinfo
98   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                   stateprovince      vadditionalcontactinfo
99   SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo                   countryregion      vadditionalcontactinfo
100  SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee           additionalcontactinfo            emailtelephonenumber      vadditionalcontactinfo
101  SELECT * FROM vemployee a JOIN vadditionalcont...                   vemployee                      middlename                      middlename      vadditionalcontactinfo

In [98]:
# Eminhizer
# Firestone Drive
topic = "Shoop"

daend = int(datetime.timestamp(datetime.now())*1000)
a = datetime(2022, 1, 29, 12, 12, 12)
dastart = int(datetime.timestamp(a)*1000)
treshold_signature='0.9'
treshold_content='0.8'

res_exp_02 = exec_experiment(topic, dastart, daend, treshold_signature, treshold_content)

Dataset Discovery for topic Shoop, from date 01/29/2022, 12:12:12 to date 02/18/2023, 15:56:24

In [99]:
# Eminhizer
topic = "Eminhizer"

daend = int(datetime.timestamp(datetime.now())*1000)
a = datetime(2022, 1, 29, 12, 12, 12)
dastart = int(datetime.timestamp(a)*1000)

discovered_datasets = data_exploration_service.discover_datasets(topic=topic, dastart=dastart, daend=daend, treshold_signature='0.9', treshold_content='0.5')
queries = data_exploration_service.generate_queries_for_discovered_datasets(discovered_datasets)
results_dataframe = data_exploration_service.get_pd_dataframe_of_results(queries)

df = data_exploration_service.exec_query_by_number(1)
df.limit(10).toPandas().head()

Dataset Discovery for topic Eminhizer, from date 01/29/2022, 12:12:12 to date 02/18/2023, 15:56:31


'SELECT * FROM person a JOIN shift b ON (a.emailpromotion = b.shiftid)'

  businessentityid persontype namestyle title firstname middlename lastname suffix emailpromotion additionalcontactinfo                                       demographics                               rowguid             modifieddate shiftid     name starttime   endtime             modifieddate
0                2         EM     false  None     Terri        Lee    Duffy   None              1                [NULL]  "<IndividualSurvey xmlns=""http://schemas.micr...  d8763459-8aa8-47cc-aff7-c9079af79033  2008-01-24 00:00:00.000       1      Day  07:00:00  15:00:00  2008-04-30 00:00:00.000
1                7         EM     false  None     Dylan          A   Miller   None              2                [NULL]  "<IndividualSurvey xmlns=""http://schemas.micr...  c45e8ab8-01be-4b76-b215-820c8368181a  2009-02-01 00:00:00.000       2  Evening  15:00:00  23:00:00  2008-04-30 00:00:00.000
2               10         EM     false  None   Michael       None   Raheem   None              2                [NULL]  "<IndividualSurvey xmlns=""http://schemas.micr...  ca2c740e-75b2-420c-9d4b-e3cbc6609604  2009-04-26 00:00:00.000       2  Evening  15:00:00  23:00:00  2008-04-30 00:00:00.000
3               12         EM     false  None   Thierry          B   D'Hers   None              2                [NULL]  "<IndividualSurvey xmlns=""http://schemas.micr...  fa263c7f-600d-4e89-8dcd-0978f3530f5f  2007-12-04 00:00:00.000       2  Evening  15:00:00  23:00:00  2008-04-30 00:00:00.000
4               13         EM     false   Ms.    Janice          M   Galvin   None              2                [NULL]  "<IndividualSurvey xmlns=""http://schemas.micr...  34eb99e0-7042-4dc1-a2fd-bda290ff0e07  2010-12-16 00:00:00.000       2  Evening  15:00:00  23:00:00  2008-04-30 00:00:00.000

## Explore Dataset

In [20]:
list_to_read = [
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'department',
        'filename': 'department__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'employee',
        'filename': 'employee__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'employeedepartmenthistory',
        'filename': 'employeedepartmenthistory__2022-11-20.csv'
    },    
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'employeepayhistory',
        'filename': 'employeepayhistory__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'jobcandidate',
        'filename': 'jobcandidate__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'shift',
        'filename': 'shift__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vemployeedepartment',
        'filename': 'vemployeedepartment__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vemployeedepartmenthistory',
        'filename': 'vemployeedepartmenthistory__2022-11-20.csv'
    },    
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vemployee',
        'filename': 'vemployee__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vjobcandidate',
        'filename': 'vjobcandidate__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vjobcandidateeducation',
        'filename': 'vjobcandidateeducation__2022-11-20.csv'
    },
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'human-resources',
        'dataset': 'vjobcandidateemployment',
        'filename': 'vjobcandidateemployment__2022-11-20.csv'
    } 
]

data_to_load = ConfigLoader.data_to_load_job(list_to_read, ConfigLoader.load_config('havel-config.yaml'))
init_experiment_infra(data_to_load, env=env, reset_on_restart=False, debug=False)

created data descriptions
created signature profiles
created content profiles
added additional data to existing data descriptions
created dataset nodes and their relationships
created attribute nodes and their relationships
cleaned up

In [128]:
daend = int(datetime.timestamp(datetime.now())*1000)
dastart = int(datetime.timestamp(datetime(2022, 1, 29, 12, 12, 12))*1000)
treshold_signature='0.9'
treshold_content='0.8'


exploration_results = data_exploration_service.get_all(treshold_signature=treshold_signature, treshold_content=treshold_content, dastart=dastart, daend=daend)

df = data_exploration_service.format_results(exploration_results)
display(HTML(df.to_html()))

In [129]:
daend = int(datetime.timestamp(datetime.now())*1000)
dastart = int(datetime.timestamp(datetime(2022, 1, 29, 12, 12, 12))*1000)
treshold_signature='0.9'
treshold_content='0.8'

exploration_results = data_exploration_service.explore_by_source(source='adventureworks-for-postgres', treshold_signature=treshold_signature, treshold_content=treshold_content, dastart=dastart, daend=daend)

df = data_exploration_service.format_results(exploration_results)
display(HTML(df.to_html()))

In [130]:
daend = int(datetime.timestamp(datetime.now())*1000)
dastart = int(datetime.timestamp(datetime(2022, 1, 29, 12, 12, 12))*1000)
treshold_signature='0.9'
treshold_content='0.8'

exploration_results = data_exploration_service.explore_by_schema(schema='person', treshold_signature=treshold_signature, treshold_content=treshold_content, dastart=dastart, daend=daend)

df = data_exploration_service.format_results(exploration_results)
display(HTML(df.to_html()))

In [111]:
daend = int(datetime.timestamp(datetime.now())*1000)
dastart = int(datetime.timestamp(datetime(2022, 1, 29, 12, 12, 12))*1000)
treshold_signature='0.9'
treshold_content='0.8'

exploration_results = data_exploration_service.explore_by_dataset(dataset='address', treshold_signature=treshold_signature, treshold_content=treshold_content, dastart=dastart, daend=daend)

df = data_exploration_service.format_results(exploration_results)
display(HTML(df.to_html()))

In [112]:
list_to_read = [
    {
        'source': 'adventureworks-for-postgres',
        'schema': 'person',
        'dataset': 'address_2',
        'filename': 'address_2__2022-11-20.csv'
    }
]

data_to_load = ConfigLoader.data_to_load_job(list_to_read, ConfigLoader.load_config('havel-config.yaml'))

init_experiment_infra(data_to_load, env=env, reset_on_restart=False, debug=False)

created data descriptions
created signature profiles
created content profiles
added additional data to existing data descriptions
created dataset nodes and their relationships
created attribute nodes and their relationships
cleaned up

In [132]:
daend = int(datetime.timestamp(datetime.now())*1000)
dastart = int(datetime.timestamp(datetime(2022, 1, 29, 12, 12, 12))*1000)
treshold_signature='0.9'
treshold_content='0.8'

exploration_results = data_exploration_service.explore_by_dataset(dataset='address', treshold_signature=treshold_signature, treshold_content=treshold_content, dastart=dastart, daend=daend)

df = data_exploration_service.format_results(exploration_results)
display(HTML(df.to_html()))

[{'dataset': '{"_id": {"$oid": "63f0cafd8c5eb909c89b213d"}, "metadata": '
             '{"X-TIKA:Parsed-By": ["org.apache.tika.parser.DefaultParser", '
             '"org.apache.tika.parser.csv.TextAndCSVParser"], '
             '"X-TIKA:Parsed-By-Full-Set": '
             '["org.apache.tika.parser.DefaultParser", '
             '"org.apache.tika.parser.csv.TextAndCSVParser"], '
             '"X-TIKA:content_handler": "ToTextContentHandler", '
             '"Content-Encoding": "windows-1252", "X-TIKA:parse_time_millis": '
             '"282", "X-TIKA:embedded_depth": "0", "resourceName": '
             '"b\'webhdfs-v1-sample-data-adventureworks-for-postgres-person-address__2022-11-20.csv\'", '
             '"csv:delimiter": "comma", "Content-Length": "3053898", '
             '"Content-Type": "text/csv; charset=windows-1252; '
             'delimiter=comma"}, "signature": '
             '"adventureworks-for-postgres-person-address", "description": '
             '"Etiam placerat turpis et mauris tincidunt pretium.\\n", '
             '"hdfs_path": '
             '"//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv", '
             '"source": "adventureworks-for-postgres", "schema": "person", '
             '"dataset": "address", "created_at": "2023-02-18 '
             '13:56:38.228253", "data_types": {"addressid": "int32", '
             '"addressline1": "object", "addressline2": "object", "city": '
             '"object", "modifieddate": "datetime64[ns]", "postalcode": '
             '"object", "rowguid": "object", "spatiallocation": "object", '
             '"stateprovinceid": "int32"}, "notes": [], "version": 1}',
  'graph_content': [<neo4j.graph.Graph object at 0x7f09ae149850>,
                    <neo4j.graph.Graph object at 0x7f09ae152a30>,
                    <neo4j.graph.Graph object at 0x7f09ea5fb0d0>,
                    <neo4j.graph.Graph object at 0x7f09ae30eee0>,
                    <neo4j.graph.Graph object at 0x7f09ad5487c0>,
                    <neo4j.graph.Graph object at 0x7f09ad3793a0>,
                    <neo4j.graph.Graph object at 0x7f09acf827f0>],
  'graph_signature': <bound method Result.graph of <neo4j._sync.work.result.Result object at 0x7f09ad79e2e0>>,
  'related_nodes_by_content': [[{'source_attribute': ('adventureworks-for-postgres-person-address-spatiallocation',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'spatiallocation',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-spatiallocation',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'spatiallocation',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address-postalcode',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'postalcode',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-postalcode',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'postalcode',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address-stateprovinceid',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'stateprovinceid',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-stateprovinceid',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'stateprovinceid',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address-city',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'city',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-city',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'city',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address-addressline2',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'addressline2',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-addressline2',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'addressline2',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address-addressline1',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'addressline1',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7),
                                 'target_attribute': ('adventureworks-for-postgres-person-address_2-addressline1',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'addressline1',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address_2-spatiallocation',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'spatiallocation',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4),
                                 'target_attribute': ('adventureworks-for-postgres-person-address-spatiallocation',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'spatiallocation',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address_2-postalcode',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'postalcode',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4),
                                 'target_attribute': ('adventureworks-for-postgres-person-address-postalcode',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'postalcode',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address_2-stateprovinceid',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'stateprovinceid',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address_2',
                                                    '//sample-data/adventureworks-for-postgres/person/address_2__2022-11-20.csv',
                                                    4),
                                 'target_attribute': ('adventureworks-for-postgres-person-address-stateprovinceid',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address',
                                                      'stateprovinceid',
                                                      1),
                                 'target_dataset': ('adventureworks-for-postgres-person-address',
                                                    'adventureworks-for-postgres',
                                                    'person',
                                                    'address',
                                                    '//sample-data/adventureworks-for-postgres/person/address__2022-11-20.csv',
                                                    7)},
                                {'source_attribute': ('adventureworks-for-postgres-person-address_2-city',
                                                      'adventureworks-for-postgres',
                                                      'person',
                                                      'address_2',
                                                      'city',
                                                      1),
                                 'source_dataset': ('adventureworks-for-postgres-person-address_2',
                                                    'adventureworks-for-postgres',

## Update description and add notes

In [67]:
data_exploration_service.insert_note('adventureworks-for-postgres-person-password', 'note abcdefg')
res = data_exploration_service.explore_by_signature('adventureworks-for-postgres-person-password')
notes_as_str= str(res.get().notes)

pprint("Present Notes:%s "% notes_as_str)

"Present Notes:['note abcdefg'] "

In [68]:
res = data_exploration_service.explore_by_signature('adventureworks-for-postgres-person-password')
print('Old description: "%s"'%res.get().description)

data_exploration_service.update_description('adventureworks-for-postgres-person-password', 'description updated')
res = data_exploration_service.explore_by_signat4Cosmicomiche@
ure('adventureworks-for-postgres-person-password')

print('New description: "%s"'%res.get().description)

Old description: "Nullam id odio vitae risus aliquet vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel mi at tellus viverra accumsan. Nunc non metus rutrum, tempor ex quis, accumsan est. Fusce ac purus ullamcorper, scelerisque felis quis, lacinia ante. Donec bibendum accumsan hendrerit. Nam non varius sapien. Duis sit amet metus purus. Proin at arcu ultrices, lobortis quam in, faucibus metus. Curabitur vulputate pharetra turpis sit amet pulvinar.

    Etiam placerat turpis et mauris tincidunt pretium. Curabitur maximus odio eget metus molestie euismod. Fusce pharetra ultricies consectetur. Maecenas mauris odio, pretium a ligula et, consectetur dictum urna. Vivamus viverra auctor lacus, at rutrum urna suscipit nec. Mauris pellentesque dapibus arcu, eget posuere dui hendrerit a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia quam at magna vulputate, rhoncus congue neque auctor. Pellentesque volutpat massa velit. Ut vitae lorem ultricies, faucibus eros ac, vulputate erat. Aliquam erat volutpat. Maecenas interdum sollicitudin lorem at consectetur. Aenean sit amet sapien eget arcu laoreet efficitur. In sed placerat odio. Quisque sollicitudin, augue egestas ultrices dictum, nulla tellus dictum libero, quis maximus enim felis ut leo.
"
New description: "description updated"

## Create Jobs



Basierend auf der Pertinenz und QualitÃ¤t der Ergebnisse
der Abfrage kann der Benutzer drei Aufgaben durchfÃ¼hren: Ãnderung oder
Anreicherung von Metadaten, Definition von Dataset-Generatoren und Erstellung
von Output-Quellen. Das Ãndern und Anreichern von Metadaten
geben dem Benutzer die MÃ¶glichkeit, die Informationen Ã¼ber die Datasets,
aus denen der Data Lake besteht, zu integrieren oder zu korrigieren sowie
die Beziehungen zwischen den Datasets, die Havel automatisch identifiziert
hat, zu Ã¼berprÃ¼fen.
Der Dataset-Generator ist ein Job, der vom Benutzer erstellt und konfiguriert
und vom System gemÃ¤Ã der Planungskonfiguration ausgefÃ¼hrt wird.
Der Hauptzweck des Jobs besteht darin, die konfigurierte Abfrage auszufÃ¼hren
und die Ergebnisse in einem neuen Datensatz mit dem Label generiert
abzulegen. Der generierten Datensatz besitzt auÃerdem die Relation
IS_GENERATED_FROM mit den ausgehenden Datasets, die in die Abfrage einbezogen
wurden, und teilt mit den bestehenden dieselbe Datenstruktur. Der
Data Lake kann auf diese Weise erweitert werden. Dataset-Generatoren dÃ¼rfen
miteinander kombiniert werden und eine Dataset-Generatoren-Pipeline
bilden. Nach jeder AusfÃ¼hrung wird ein Report erstellt. Die Output-Quelle
ist ebenfalls ein Job, so wie der Dataset-Generator. Der Unterschied zwischen
den beiden liegt darin, dass die Output-Quelle das Ergebnis ihrer Abfrage
in einem Format speichert, das fÃ¼r den Export in andere Systeme wie z.B.
Data Warehouse geeignet ist.

In [68]:
class JobService:

    jobs = {}
    OUTPUT_JOB = 'output'

    def exec_all_jobs(self):
        for k in JobService.jobs.keys(): 
            self.exec_job(k).show()

    def _exec_output_job(self, job_id):
        res_df = spark.sql(JobService.jobs[job_id]['cmd'])
        res_df.createOrReplaceTempView(JobService.jobs[job_id]['table_name'])

        if (not JobService.jobs[job_id]['temp']):
            res_df.write.mode("append").insertInto(JobService.jobs[job_id]['table_name'])
            #res_df.write.mode('overwrite').saveAsTable(JobService.jobs[job_id]['table_name'])    

        return res_df
    
    def exec_job(self, job_id):
        if JobService.jobs[job_id]['type'] == JobService.OUTPUT_JOB:
            return self._exec_output_job(job_id)
        else:
            print('job type unknown')

    def create_output_job(self, id, name, cmd, table_name, temp):
        JobService.jobs[id] = {
            'type': JobService.OUTPUT_JOB,
            'name': name,
            'cmd': cmd,
            'table_name': table_name,
            'temp': temp
        }
    
    def create_data_config(self, schema, dataset, attributes_blacklist, keywords_whitelist):
        return {
            'attributes_blacklist': attributes_blacklist,
            'dataframe': df,
            'dataset': dataset,
            'dataset_description': 'AUTO-GENERATED',
            'hdfs_path': '//HAVEL/adventureworks-for-postgres/person/address__2022-11-20.csv',
            'hdfs_uri_base': '/HAVEL/adventureworks-for-postgres/person',
            'keywords_whitelist': keywords_whitelist,
            'schema': schema,
            'signature': Utils.calc_idx_resource(source, schema, dataset),
            'source': 'HAVEL',
            'source_description': 'AUTO-GENERATED',
            'url': '/HAVEL',
            'version': 1
        }


job_service = JobService()
        
# job_service.create_output_job(id='my_first_job', name='hello there', cmd='show tables', table_name='my_first_table', temp=False)

job_service.create_output_job(id='my_first_joba', 
      name='hello there', 
      cmd='SELECT * FROM person a JOIN personphone b ON (a.emailpromotion=b.phonenumbertypeid)', 
      table_name='table_name_aaa', 
      temp=True)

job_service.exec_job('my_first_joba').show()

job_service.exec_all_jobs()

AnalysisException: ()

In [52]:
spark.sql('show tables').show()

+---------+--------------+-----------+
|namespace|     tableName|isTemporary|
+---------+--------------+-----------+
|  default|       student|      false|
|  default|       teacher|      false|
|         |  emailaddress|       true|
|         |my_first_table|       true|
|         |        person|       true|
+---------+--------------+-----------+

In [67]:
spark.sql('SELECT * FROM person a JOIN emailaddress b ON (a.businessentityid = b.emailaddressid)').show()

AnalysisException: ()